<div class="col-md-12">
    <button ui-sref="state-a" class="btn btn-primary">Back</button>
    <h4>Leaves</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
          <th >
              ID
              <a ng-class="$ctrl.searchQuery.ordering === 'id' ? 'text-primary' : 'text-muted'" ng-click="$ctrl.order('id')">
                  <i class="glyphicon ng-class: ($ctrl.searchQuery.ordering === 'id') ? glyphicon-arrow-down : glyphicon-arrow-up;"></i>
              </a>
          </th>
            <th >
                Start Date
                <a ng-class="$ctrl.searchQuery.ordering === 'start_date' ? 'text-primary' : 'text-muted'" ng-click="$ctrl.order('start_date')">
                    <i class="glyphicon ng-class: ($ctrl.searchQuery.ordering === 'start_date') ? glyphicon-arrow-down : glyphicon-arrow-up;"></i>
                </a>
            </th>
            <th >
                End Date
                <a ng-class="$ctrl.searchQuery.ordering === 'end_date' ? 'text-primary' : 'text-muted'" ng-click="$ctrl.order('end_date')">
                    <i class="glyphicon ng-class: ($ctrl.searchQuery.ordering === 'end_date') ? glyphicon-arrow-down : glyphicon-arrow-up;"></i>
                </a>
            </th>
                </a>
            <th >
                Status
                <a ng-class="$ctrl.searchQuery.ordering === 'status' ? 'text-primary' : 'text-muted'" ng-click="$ctrl.order('status')">
                    <i class="glyphicon ng-class: ($ctrl.searchQuery.ordering === 'status') ? glyphicon-arrow-down : glyphicon-arrow-up;"></i>
                </a>
            </th>
            <th >
                Leave day's
                <a ng-class="$ctrl.searchQuery.ordering === 'leave_days' ? 'text-primary' : 'text-muted'" ng-click="$ctrl.order('leave_days')">
                    <i class="glyphicon ng-class: ($ctrl.searchQuery.ordering === 'leave_days') ? glyphicon-arrow-down : glyphicon-arrow-up;"></i>
                </a>
            </th>
            <th >
                Employee id
                <a ng-class="$ctrl.searchQuery.ordering === 'employee' ? 'text-primary' : 'text-muted'" ng-click="$ctrl.order('employee')">
                    <i class="glyphicon ng-class: ($ctrl.searchQuery.ordering === 'employee') ? glyphicon-arrow-down : glyphicon-arrow-up;"></i>
                </a>
            </th>
            <th>
                <div class="btn-group" uib-dropdown is-open="status.isopen">
                    <button id="new-levae-button" type="button" class="btn btn-success btn-xs" uib-dropdown-toggle ng-disabled="disabled">
                <i class="glyphicon glyphicon-plus"></i> Apply <span class="caret"></span>
              </button>
                    <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="new-leave-button">
                        <li role="menuitem"><a ui-sref="leave:create">In Form</a></li>
                    </ul>
                </div>
            </th>
          </tr>
            <tr ng-if="!$ctrl.loading" ng-repeat="result in $ctrl.results" id="result_row_{{result.pk}}">
                <td>{{ result.id }}</td>
                <td>{{ result.start_date | date : 'yyyy-MM-dd' }}</td>
                <td>{{ result.end_date | date : 'yyyy-MM-dd' }}</td>
                <td>{{ result.status }}</td>
                <td>{{ result.leave_days }}</td>
                <td>{{ result.employee}}
                  <td>
                      <div class="btn-group" uib-dropdown is-open="status.isopen_{{result.pk}}">
                      <button id="{{result.pk}}-update-button" type="button" class="btn btn-default btn-xs" uib-dropdown-toggle ng-disabled="disabled">
                        <i class="glyphicon glyphicon-pencil"></i> Edit <span class="caret"></span>
                      </button>
                      <ul class="dropdown-menu" uib-dropdown-menu role="menu" aria-labelledby="{{result.pk}}-update-button">
                        <li role="menuitem"><a ng-click="$ctrl.update(result.pk)">In Modal</a></li>
                        <li role="menuitem"><a ui-sref="leave:update({id: result.pk})">In Form</a></li>
                      </ul>
                    </div>
                    <button ng-click="$ctrl.delete(result.pk)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> Delete</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
