<div class="col-md-12">
  <h4>Project Form</h4>

  <form name="$ctrl.form">

    <div ng-class="['form-group', {'has-error': $ctrl.validation.title}]">
      <label class="control-label">Title</label>
      <input class="form-control" ng-model="$ctrl.project.title" />
      <span class="help-block" ng-repeat="error in $ctrl.validation.title">{{ error }}</span>
    </div>

    <div ng-class="['form-group', {'has-error': $ctrl.validation.description}]">
      <label class="control-label">Description</label>
      <textarea class="form-control" ng-model="$ctrl.project.description"></textarea>
      <span class="help-block" ng-repeat="error in $ctrl.validation.description">{{ error }}</span>
    </div>

    <div ng-class="['form-group', {'has-error': $ctrl.validation.start_date}]">
      <label class="control-label">Start Date</label>
      <p class="input-group">
        <input type="text" class="form-control" ng-model="$ctrl.project.start_date" alt-input-formats="['yyyy-MM-dd']" uib-datepicker-popup="yyyy-MM-dd" is-open="$ctrl.datePickers.startDate.opened" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.datePickers.startDate.open()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <span class="help-block" ng-repeat="error in $ctrl.validation.start_date">{{ error }}</span>
    </div>

    <div ng-class="['form-group', {'has-error': $ctrl.validation.end_date}]">
      <label class="control-label">End Date</label>
      <p class="input-group">
        <input type="text" class="form-control" ng-model="$ctrl.project.end_date" alt-input-formats="['yyyy-MM-dd']" uib-datepicker-popup="yyyy-MM-dd" is-open="$ctrl.datePickers.endDate.opened" close-text="Close" />
        <span class="input-group-btn">
          <button type="button" class="btn btn-default" ng-click="$ctrl.datePickers.endDate.open()"><i class="glyphicon glyphicon-calendar"></i></button>
        </span>
      </p>
      <span class="help-block" ng-repeat="error in $ctrl.validation.end_date">{{ error }}</span>
    </div>

    <div ng-class="['form-group', {'has-error': $ctrl.validation.is_active}]">
      <label class="control-label">Active</label>
      <div class="input-group">
        <div class="btn-group">
          <label class="btn btn-default" ng-model="$ctrl.project.is_active" uib-btn-radio="false">False</label>
          <label class="btn btn-default" ng-model="$ctrl.project.is_active" uib-btn-radio="true">True</label>
        </div>
      </div>
      <span class="help-block" ng-repeat="error in $ctrl.validation.is_active">{{ error }}</span>
    </div>

    <div ng-class="['form-group', {'has-error': $ctrl.validation.is_billable}]">
      <label class="control-label">Billable</label>
      <div class="input-group">
        <div class="btn-group">
          <label class="btn btn-default" ng-model="$ctrl.project.is_billable" uib-btn-radio="false">False</label>
          <label class="btn btn-default" ng-model="$ctrl.project.is_billable" uib-btn-radio="true">True</label>
        </div>
      </div>
      <span class="help-block" ng-repeat="error in $ctrl.validation.is_billable">{{ error }}</span>
    </div>

    <button class="btn btn-primary btn-block" ng-click="$ctrl.save()">Submit</button>
    
  </form>
</div>
