<div class="col-md-12">
    <h1>Leave<h1>
      <form name="$ctrl.form">
          <button ui-sref="state-a" class="btn btn-primary">Back</button>
      <div class="col-md-12">
      <div ng-class="['form-group', {'has-error': $ctrl.validation.start_date}]">
          <label class="small control-label"><small>Start Date</small></label>
          <p class="small input-group">
              <input type="text" class="small form-control" ng-model="$ctrl.leave.start_date" alt-input-formats="['yyyy-MM-dd']" uib-datepicker-popup="yyyy-MM-dd" is-open="$ctrl.datePickers.startDate.opened" close-text="Close" />
              <span class="small input-group-btn">
              <button type="button" class="btn btn-default" ng-click="$ctrl.datePickers.startDate.open()"><i class="glyphicon glyphicon-calendar"></i></button>
              </span>
          </p>
          <span class="small help-block" ng-repeat="error in $ctrl.validation.start_date">{{ error }}</span>
      </div>

      <div ng-class="['form-group', {'has-error': $ctrl.validation.end_date}]">
        <lable class="small control-lable"><small>End date</small></label>
          <p class="small input-group">
            <input type="text" class="form-control" ng-model="$ctrl.leave.end_date" alt-input-formats="['yyyy-MM-dd']" uib-datepicker-popup="yyyy-MM-dd" is-open="$ctrl.datePickers.endDate.opened" close-text="Close" />
            <span class="small input-group-btn">
              <button type="button" class="btn btn-default" ng-click="$ctrl.datePickers.endDate.open()"><i class="glyphicon glyphicon-calendar"></i></button>
            </span>
          </p>
          <span class="help-block" ng-repeat="error in $ctrl.validation.end_date">{{ error }}</span>
      </div>

      <span class="help-block" ng-repeat="error in $ctrl.validation.end_date">{{ error }}</span>
      <div ng-class="['form-group', {'has-error': $ctrl.validation.Leave}]">
        <lable class="small control-lable"><small>Leave Type</small></label>
        <div class="small input-group">
            <div class="small btn-group">
                <select>
                  <option value="B" ng-model="$ctrl.validation.Leave"><small>Sick Leave</small></option>
                  <option value="C" ng-model="$ctrl.validation.Leave"><small>Family</small></option>
                  <option value="I" ng-model="$ctrl.validation.Leave"><small>Annual</small></option>
                  <option value="W" ng-model="$ctrl.validation.Leave"></option>
                </select>
            </div>
        </div>
      </div>

      <div ng-class="['form-group', {'has-error': $ctrl.validation.pid}]">
        <label class="small control-label"><small>Reason for leave</small></label>
        <input class="small form-control" ng-model="$ctrl.employee.id" />
        <span class="small help-block" ng-repeat="error in $ctrl.validation.id">{{ error }}</span>
      </div>

      <div ng-class="['form-group']">
        <label class="small">Doctor's Note</label>
          <input type='file' ng-model-instant onchange="angular.element(this).scope().imageUpload(this)" />
      </div>
    </form>
  </div>
