<div class="col-md-12">
    <h1>Leave<h1>
          <button ui-sref="state-a" class="btn btn-primary">Back</button>
      <div ng-class="['form-group', {'has-error': $ctrl.validation.start_date}]">
          <label class="control-label">Start Date</label>
          <p class="input-group">
              <input type="text" class="form-control" ng-model="$ctrl.leave.start_date" alt-input-formats="['yyyy-MM-dd']" uib-datepicker-popup="yyyy-MM-dd" is-open="$ctrl.datePickers.startDate.opened" close-text="Close" />
              <span class="input-group-btn">
<button type="button" class="btn btn-default" ng-click="$ctrl.datePickers.startDate.open()"><i class="glyphicon glyphicon-calendar"></i></button>
</span>
          </p>
          <span class="help-block" ng-repeat="error in $ctrl.validation.start_date">{{ error }}</span>
      </div>

      <div ng-class="['form-group', {'has-error': $ctrl.validation.end_date}]">
          <label class="control-label">End Date</label>
          <p class="input-group">
              <input type="text" class="form-control" ng-model="$ctrl.leave.end_date" alt-input-formats="['yyyy-MM-dd']" uib-datepicker-popup="yyyy-MM-dd" is-open="$ctrl.datePickers.endDate.opened" close-text="Close" />
              <span class="input-group-btn">
<button type="button" class="btn btn-default" ng-click="$ctrl.datePickers.endDate.open()"><i class="glyphicon glyphicon-calendar"></i></button>
</span>
          </p>
          <span class="help-block" ng-repeat="error in $ctrl.validation.end_date">{{ error }}</span>
      </div>

    </div>

    <div ng-class="['form-group', {'has-error': $ctrl.validation.Race}]">
        <label class="control-label">Type of Leave</label>
        <div class="input-group">
            <div class="btn-group">
                <select>
<option value="A" ng-model="$ctrl.validation.Race">Sick Leave</option>
<option value="B" ng-model="$ctrl.validation.Race">Family</option>
<option value="C" ng-model="$ctrl.validation.Race">Annual</option>
</select>
            </div>
        </div>
        <span class="help-block" ng-repeat="error in $ctrl.validation.Race">{{ error }}</span>
        <hr>
        <hr>
        <button class="btn btn-primary btn-block" ng-click="$ctrl.save()">Submit</button>
        <button class="btn btn-primary btn-block" ui-sref="leave:list">Return</button>
    </div>

</div>
