<div class="col-md-12">
    <button ui-sref="state-a" class="btn btn-primary">Original Screen</button>
    <h4>Projects</h4>
    <table class="table table-bordered table-striped">
        <thead>
        <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>Active</th>
            <th>Billable</th>
            <th>
                <button ui-sref="project:create" class="btn btn-success btn-xs"><i class="glyphicon glyphicon-plus"></i> New</button>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="result in $ctrl.results" id="result_row_{{result.pk}}">
            <td>{{ result.pk }}</td>
            <td>{{ result.title }}</td>
            <td>{{ result.description }}</td>
            <td>{{ result.start_date }}</td>
            <td>{{ result.end_date }}</td>
            <td><i class="glyphicon ng-class: result.is_active ? 'glyphicon-ok text-success' : 'glyphicon-remove text-danger';"></i></td>
            <td><i class="glyphicon" ng-class="{'glyphicon-ok text-success': result.is_billable, 'glyphicon-remove  text-danger': !result.is_billable}"></i></td>
            <td>
                <button ui-sref="project:update({id: result.pk})" class="btn btn-default btn-xs"><i class="glyphicon glyphicon-pencil"></i> Edit</button>
                <button ng-click="$ctrl.delete(result.pk)" class="btn btn-danger btn-xs"><i class="glyphicon glyphicon-trash"></i> Delete</button>
            </td>
        </tr>
        </tbody>
    </table>
</div>
